## Configuration for Mailer-Pf application
NODE_ENV="" 				# Provide a value for NODE_ENV
APP_PORT="" 				# Provide a value for APP_PORT
API_BASE_URL="" 				# Provide a value for API_BASE_URL
CORS_ORIGIN="" 				# Provide a value for CORS_ORIGIN

## Maximum size for JSON payloads
JSON_LIMIT="" 				# Provide a value for JSON_LIMIT

## Mail configuration
FROM="" 				# Provide a value for FROM
TO="" 				# Provide a value for TO
GMAIL_USER="" 				# Provide a value for GMAIL_USER
GMAIL_PASSWORD="" 				# Provide a value for GMAIL_PASSWORD
RECAPTCHA_SECRET_KEY="" 				# Provide a value for RECAPTCHA_SECRET_KEY

## Database configuration
MONGODB_URI="" 				# Provide a value for MONGODB_URI
MONGODB_DB_NAME="" 				# Provide a value for MONGODB_DB_NAME
ADMIN_API_KEY="" 				# Provide a value for ADMIN_API_KEY
JWT_SECRET="" 				# Provide a value for JWT_SECRET
JWT_EXPIRES_IN="" 				# Provide a value for JWT_EXPIRES_IN
AUTO_TRANSLATE_TO_ENGLISH="" 				# Provide a value for AUTO_TRANSLATE_TO_ENGLISH
